*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Color_primario:darkblue;
    --Color_secundario: white;
    --Tipo_letra: Arial, Helvetica, sans-serif;
    --Color_letras: black;
    --Color_letras_claro: white;
}

/*Aplicamos estilos a los elementos que componen el menu principal*/

.navegacion{
    height: 100vh;
    width:100vw;
    padding: 20px;
    background-color: var(--Color_primario);
    display: flex;
}

.navegacion_caja{
    margin: 10px;
    border-radius: 15px;
    height: 200px;
    width: 200px;
    background-color: var(--Color_secundario);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navegacion_link{
    text-decoration: none;
    font-family: var(--Tipo_letra);
    font-size: 25px;
    font-weight: 600;
    color: var(--Color_letras);
}

/*Desarrollo del punto 1 (Barra de navegacion)*/

.barra_navegacion{
    background-color: var(--Color_primario);
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.barra_navegacion-link{
    text-decoration: none;
    color: var(--Color_letras_claro);
    font-family: var(--Tipo_letra);
    font-weight: bold;
    font-size: 20px;
    margin-right: 15px;
}

/*Desarollo del punto 2 (Tarjeta de producto)*/

