*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Color_primario:darkblue;
    --Color_secundario: white;
    --Tipo_letra: Arial, Helvetica, sans-serif;
    --Color_letras: black;
    --Color_letras_claro: white;
}

/*Aplicamos estilos a los elementos que componen el menu principal*/

.navegacion{
    height: 100vh;
    width:100vw;
    padding: 20px;
    background-color: var(--Color_primario);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navegacion_caja{
    margin: 10px;
    border-radius: 15px;
    height: 200px;
    width: 200px;
    background-color: var(--Color_secundario);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navegacion_caja:hover{
    height: 210px;
    width: 210px;
    transition: 0.5s;
}

.navegacion_link{
    text-decoration: none;
    font-family: var(--Tipo_letra);
    font-size: 25px;
    font-weight: 600;
    color: var(--Color_letras);
}

/*Desarrollo del punto 1 (Barra de navegacion)*/

.barra_navegacion{
    background-color: var(--Color_primario);
    box-shadow: 2px 2px 5px black;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.barra_navegacion-link{
    text-decoration: none;
    color: var(--Color_letras_claro);
    font-family: var(--Tipo_letra);
    font-weight: bold;
    font-size: 20px;
    margin-right: 15px;
}

/*Desarollo del punto 2 (Tarjeta de producto)*/

.card{
    padding: 10px;
    height: 600px;
    width: 450px;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 2px 2px 6px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.card_titulo{
    margin: 10px 0px;
    font-family: var(--Tipo_letra);
    font-weight: bold;
}

.card_imagen{
    height: 300px;
    width: 300px;
    border-radius: 15px;
}

.card_texto{
    font-family: var(--Tipo_letra);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.card_boton{
    background-color: var(--Color_primario);
    color: var(--Color_letras_claro);
    font-family: var(--Tipo_letra);
    font-size: 25px;
    height: 50px;
    width: 120px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.300);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card_boton:hover{
    background-color: var(--Color_secundario);
    color: var(--Color_letras);
}

/*Desarollo del punto 3 (Galeria de imagenes)*/

.galeria{
    background-color: rgba(0, 0, 0, 0.100);
    padding: 20px;
    height: 90vh;
    width: 50vw;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.galeria_contenedor{
    height: 300px;
    width: 200px;
    border-radius: 15px;
    border: solid 1px rgba(0, 0, 0, 0.100);
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.500);
}

.galeria_contenedor-imagen{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

/*Desarollo del punto 4 (Formulario de contacto)*/

.formulario{
    background-color: rgba(0, 0, 0, 0.100);
    position: relative;
    height: 500px;
    width: 700px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 8px black;
}

.formulario_titulo{
    font-family: var(--Tipo_letra);
    font-weight: bold;
    font-size: 30px;
    margin-left: 40px;
    margin-bottom: 10px;
}

.formulario_campos-filas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.formulario_campos{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: var(--Tipo_letra);
    font-size: 20px;
    font-weight: bold;
    color: var(--Color_letras);
    margin: 20px 0px;
}

.formulario_campos_inputs{
    width: 250px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.500);
    font-family: var(--Tipo_letra);
    padding: 5px;
}

.formulario_campos-boton{
    position: absolute;
    left: 285px;
    bottom: 80px;
}

.formulario_boton{
    height: 40px;
    width: 130px;
    font-family: var(--Tipo_letra);
    font-size: 20px;
    font-weight: bold;
    background-color: var(--Color_secundario);
    border: solid 1px rgba(0, 0, 0, 0.500);
}

.formulario_boton:active{
    background-color: var(--Color_primario);
    color: var(--Color_letras_claro);
}

/*Desarollo del punto 5 (Encabezado de seccion)*/

.encabezado{
    height: 100%;
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.encabezado_seccion{
    position: relative;
    height: 120px;
    width: 90%;
    margin: 5px 0px;
    padding: 10px;
    border-radius: 15px;
    border: solid 1px rgba(0, 0, 0, 0.200);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 9px black;
}

.encabezado_seccion-titulo{
    font-family: var(--Tipo_letra);
    font-size: 25px;
    font-weight: bold;
    text-align: justify;
    text-decoration: none;
    color: var(--Color_letras_claro);
    margin-left: 30px;
}

.encabezado_seccion-titulo:active{
    color: var(--Color_primario);
}

.encabezado_seccion-imagen{
    position: absolute;
    opacity: 1;
    height: 120px;
    width: 100%;
    object-fit: cover;
    left: 0px;
    border-radius: 15px;
    z-index: -1;
}

.icono{
    color: white;
    margin-right: 35px;
}

/*Desarollo del punto 6 (Lista de tareas)*/

.lista_tareas{
    background-color: var(--Color_primario);
    position: relative;
    height: 400px;
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 9px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.lista_tareas-titulo{
    font-family: var(--Tipo_letra);
    font-size: 30px;
    font-weight: bold;
    color: var(--Color_letras_claro);
    margin-top: 15px;
}

.lista_tareas-contenedor{
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-align: center;
}

.lista_tareas-tarea{
    font-family: var(--Tipo_letra);
    color: var(--Color_letras_claro);
    font-size: 19px;
    font-weight: 400;
}

.lista_tareas-boton-dieño{
    height: 30px;
    width: 90px;
    font-family: var(--Tipo_letra);
    font-size: 20px;
    font-weight: bold;
    background-color: var(--Color_secundario);
    border: solid 1px rgba(0, 0, 0, 0.500);
}

/*Desarollo del punto 7 (Componente de testimonial)*/

.testimonio_contenedor{
    width: 660px;
    height: 330px;
    padding: 10px;
    background-color: var(--Color_secundario);
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 15px;
    border: solid 1px rgba(0, 0, 0, 0.500);
    box-shadow: 2px 2px 9px black;
    display: flex;
    flex-direction: row;
}

.testimonio_contenedor-avatar{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.testimonio_contenedor-imagen{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: solid 1px rgba(0, 0, 0, 0.500);
    object-fit: cover;
}

.testimonio_contenedor-nombre{
    font-family: var(--Tipo_letra);
    font-size: 25px;
    color: var(--Color_letras);
}

.testimonio_contenedor-texto{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: justify;
    font-family: var(--Tipo_letra);
    color: var(--Color_letras);
}